.avatar-circle {
    border-radius: 5%;
}
.avatar {
    width: 270px;
    height: 270px;
    margin: 0 auto;
    object-fit: cover;
}
.home-section{
background: white;
position: relative;
padding: 50px 0 110px 0;
z-index: 0;
}